*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'poppins',  sans-serif;
}
body{
    background:#0F172A;
    color:#F8FAFC;
    overflow: hidden;
    overflow-y: scroll;

}
hr{
    margin-left: 20rem;
    margin-right: 20rem;
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}
